backend/node_modules
frontend/filcopor/node_modules
bind-9.18.17.tar.xz
dns/
robot_busqueda/node_modules
robot_ponderacion/node_modules
dnsproxy/node_modules

dnsproxy/.env
robot_busqueda/.env
robot_ponderacion/.env

dnsproxy/my-db/lock.mdb

bind-9.18.17/**/*.la
bind-9.18.17/**/*.o
bind-9.18.17/**/*.lo

db/create_db
db/make_db
